.register_page{
    display: flex;
    justify-content: center;
    align-items: center;
    background: url("../../../public/assets/log_images.jpg");
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: inset 0 0 0 2000px rgba(51, 51, 51, 0.5);
}

.register{
    width: 400px;
    height: fit-content;
    background-color: rgba(236, 236, 236, 0.274);
    backdrop-filter: blur(1px);
    border-radius: 20px;
    display: flex;
    align-items: center;
    display: flex;
    flex-direction: column;
    padding-bottom: 30px;
}

.logo{
    margin-top: 40px;
    width: 80px !important;
    height: 100px !important;
    color: #6FA9FF;
}


.register_Header{
    text-align: center;
    margin:20px ;
    color: #6FA9FF;
    font-weight: 500;
}

.register_Input{
    width: 100%;
    position: relative;
    justify-content: center;
    margin-left: 8%;
}

.register_Inputfields{
    width: 73%;
    height: 10px;
    padding:25px 40px;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    outline: none;
    position : relative;
    font-size: 15px;
}

.label_Icon{
    position: absolute;
    bottom:16px;
    left: 8px;
    color: rgb(192, 192, 192);
}

.iconify{
    width: 1.3rem;
    height: 1.3rem;
}

.register_Submit{
    width: 90%;
    padding: 15px;
    margin-top: 15px;
    border: none;
    border-radius: 5px;
    background-color: #40BFFF;
    color: white;
    font-weight: bold;
}

.register>p{
    text-align: center;
    margin:10px ;   
    color : white; 
}

.register_Switch{
    color: whitesmoke;
    font-weight: 300;
}

.register_Switch>a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}
