.adminctrl{
    display: flex;
    }
    .adminctrl_sidebar{
        flex:2.5;
    }
    
    .adminctrl_lockers{
        flex:7.5;
        background-color: #ECECEC;
    }
    
    .adminctrl_lockersContainer{
        background-color: white;
        height: 95vh;
        margin:20px;
        border-radius: 15px;
    }
    
    .adminctrl_lockershead{
        height:15%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin:25px;
    }
    
     #adminctrl_lockershead{
        margin-left: 40px;
        margin-top: 30px;
        font-size: 25px;
        font-weight: 500;
    }
    
   
    .adminctrl_lockerInfo{
        flex:2; 
        background-color: #C4C4C4;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .adminctrl_lockerInfo_top{
        height: 20%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-weight: 400;
        font-size: 20px;
    }
    
    .adminctrl_lockerInfo_top>h6{
        border-bottom: 1px solid black;
        font-weight: 500;
        font-size: 18px;
    }
    
    .adminctrl_lockertop{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .adminctrl_databoard{
        display:flex;
        flex-direction:column ;
        justify-content: center;
    }

    .adminctrl_databoard_top{
        margin:20px;
    }

    .adminctrl_databoard_bottom{
        margin:20px;
    }

    .adminctrl_label{
        margin-left:30px;
        margin-right:20px
    }

    .adminctrl_Button{
        padding: 5px;
        margin-left: 10px;
        border: none;
        background-color: #303030;
        color:#C4C4C4;
        border-radius:3px;
    }

    .adminctrl_option{
        padding:10px;
    }