.reports{
display: flex;
max-height: 100vh;
}
.reports_sidebar{
    flex:2.5;
}

.reports_Header{
 width: 90%;
 height: 200px;
 margin: 30px;
}

.reports_Header>h3{
    padding-top: 40px;
    padding-bottom: 40px;
}

.reports_Headerdiv{
    display: flex;
    justify-content: space-between;
    margin: 20px 80px;
} 

.reports_HeaderInput{
    background-color: #6e6e6e;
    border: none;
    outline: none;
    padding: 7px;
    color: #F5F5F5;
    border-radius: 3px;
}

.reports_lockers{
    flex:7.5;
    background-color: #ECECEC;
    overflow-y: scroll;
    position: sticky
}

.reports_lockersContainer{
    background-color: white;
    height: 95vh;
    margin:20px;
    border-radius: 15px;
}

.reports_lockers::-webkit-scrollbar{
    width:5px;
}

.reports_lockers::-webkit-scrollbar-track{
    background-color: #9b9b9b;
}

.reports_lockers::-webkit-scrollbar-thumb{
    background-color: rgb(104, 103, 103);
}

.reports_lockershead{
    height:15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin:25px;
}

 #reports_lockershead{
    margin-left: 40px;
    margin-top: 30px;
    font-size: 25px;
    font-weight: 500;
}

.reports_search_Input{
    width: 100%;
    position: relative;
    justify-content: center;
    margin-left: 8%;
}

.reports_search_Inputfields{
    margin-right: 40px;
    margin-top: 30px;
    border: none;
    background-color: #F5F5F5;
    padding: 15px;
    border-radius: 10px;
    width: 12rem;
    border: none;
    border-radius: 5px;
    outline: none;
    font-size: 15px;
    position: relative;
}

.reports_search_Icon{  
    color: black;
    position: absolute;
    
}

.iconify{
    width: 1.3rem;
    height: 1.3rem;
}


.reports_lockerInfo{
    flex:2; 
    background-color: #C4C4C4;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.reports_lockerInfo_top{
    height: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: 400;
    font-size: 20px;
}

.reports_lockerInfo_top>h6{
    border-bottom: 1px solid black;
    font-weight: 500;
    font-size: 18px;
}

.reports_lockertop{
    display: flex;
    justify-content: center;
    align-items: center;
}

.reports_lockerImg{
    width: 1.8rem;
    height: 1.8rem;
    color: green;
    margin: 20px;
}

.reports_lockerInfo_details{
   height: 70%;
   width: 12.9rem;
   background-color: #F1F1F1;
   border-radius: 10px;
   display: flex;
   flex-direction: column;
   margin-top:20px ;
   align-items: center;
}

.reports_profileImg{
    width: 100px;
    height: 110px;
    margin-top: -55px;
    border-radius: 10px;
    margin-bottom: 20px;
}
.reports_lockerInfo_detailsdiv{
 height: 40px;
 width: 100%;
 margin: 40px 10px 10px 10px;
 font-size: 25px;

}

.reports_lockerInfo_detailsdiv>h6{
    font-weight: 600;
    margin-left: 10px;
}

.reports_lockerInfo_detailsdiv>p{
    border-bottom: 1px solid black;
    width: 90%;
    margin-top: 25px;
    margin-left: 10px;
}

.reports_userlist-Table{
    display: flex;
    align-items: center;
    justify-content: center;   
}

.reports_Table{
    width: 80%;
    margin: 20px;
}

.reports_table_Header{
    color: black;
    
}

.reports_table_Header >th{
    border:none
}

.reports_table-Content>th{
    border: 1px solid black;
}

.reports_Form{
    display: flex;
    flex-direction: column;
}

.reports_Input{
    margin-bottom:30px ;
    padding: 8px;
    outline: none;
    border: none;
    border-bottom: 1px solid black;
    background-color: rgba(255, 255, 255, 0);
}

.reports_input_Button{
    padding: 10px;
    border: none;
    background-color: #303030 ;
    color: #F5F5F5;
    font-weight: bold;
}